<div class="nav flex-column">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home"></span> Dashboard
    </NavLink>
    <NavLink class="nav-link" href="produtos">
        <span class="oi oi-list"></span> Produtos
    </NavLink>
    <NavLink class="nav-link" href="categorias">
        <span class="oi oi-tags"></span> Categorias
    </NavLink>
    <NavLink class="nav-link" href="vendas">
    <span class="oi oi-basket"></span> Vendas
</NavLink>
    <NavLink class="nav-link" href="ativar-users">
    <span class="oi oi-check"></span> Ativar Users
</NavLink>
<NavLink class="nav-link" href="fornecedores-gestao">
    <span class="oi oi-people"></span> Fornecedores
</NavLink>
<NavLink class="nav-link" href="estatisticas">
    <span class="oi oi-graph"></span> Estatísticas
</NavLink>
</div>